.Container-jumbotron {
  height: 100% !important;
  width: 100%;
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  
}
.Container-jumbotron h1 {
  font-size: 5rem;
  text-transform: uppercase;
}

.text_container p {
  text-align: center;
  width: 100%;
}
.buttons-group button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #000;
  font-size: 12px;
  font-weight: bold;
  transition: all ease-out .5s;
}
.buttons-group button:hover{ 
  background:#000 ;
  color: #fff;
  
}
.font{
  font-family: inherit;
}

.font2{
  font-family: inherit;
}

.red{
  background: var(--link);

}