.Link_container{
 display: flex;
 align-items: center;
 justify-content: center;   
}
.Link_container a{
    display: flex;
    align-items: center;
    justify-content: center;   
}
img{
    width: 50%;
    height: 100%;
}
.lista{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    list-style: none;
    
    
}
.lista li{


}

.lista li .basetech{
    width: 100px;
    height: 70px;
    border-radius: 20px;
   
}